*~
*.pdf
*.out
*.log
*.old
*.aux
*temp*
*diary*
*Broken*
*debug*
lib
obj/*   
bin/*
log/*
out/*
tests/out/*
tests/dat/out/*
src/_larc_py.so
*_wrap*
src/larc_py.py
tests/python/out/
*.o
*.pyc
*foo*
*checkpoints
src/type.h
build
install
