*~
*.pdf
*.out
*.log
*.old
*.aux
*temp*
*diary*
*Broken*
*debug*
lib
obj/*   
bin/*
log/*
out/*
tests/out/*
tests/dat/out/*
src/_larcSWIG.so
*_wrap*
src/larcSWIG.py
*.o
*.pyc
*foo*
*checkpoints
src/type.h
build
install
html
latex
